nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 0;
  border-radius: 50px;
}
nav .logo {
  flex-grow: 1;
}
nav .nav-item {
  color: var(--primary-color);
  text-decoration: none;
  font-size: clamp(10px, 0.912vw, 14px);
  line-height: 1.5;
  padding: 0.5% 1.5%;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  margin: 0 1.5%;
  position: relative;
}
nav .nav-item:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
  background-color: var(--border-color);
  width: 0%;
  height: 18%;
  transform: skew(-12deg) translateX(-10%);
  background: var(--brand-color);
  z-index: -1;
}
nav .nav-item:hover,
nav .nav-item.active {
  transition: all 0.5s ease-in-out;
  color: var(--primary-color);
  opacity: 1;
}
nav .nav-item:hover:after,
nav .nav-item.active:after {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
nav .logo p {
  color: var(--primary-color);
  display: inline-block;
  padding: 0.5% 3%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

@media (max-width: 400px) {
  nav .nav-item {
    padding: 0 3px;
    margin: 0 5px;
  }
}
